!!!
%html{ :lang => "en" }
  %head
    %title foo
    %script{ :src => "js/sha1.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "js/dict.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "js/mootools1.2.both.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "js/app.js", :type => "text/javascript", :charset => "utf-8" }
  %body
    = yield