#results.span-24.center
  #ham
  .result-text.hide is your lowest score out of
  #count
  .result-text.hide total permutations
  Please enter your email address and hit start.
  %br
  %input#email
  %button#startstop Start