#results.span-24.center
  #ham
  .result-text.hide is your lowest score out of
  #count
  .result-text.hide total permutations
  %h2 Please enter your email address and hit start.
  %br
  %input#email.text
  %button#startstop Start Processing